body {
    font-family: "Roboto",sans-serif ;
    color:#434455 ;
    background-color: #ffffff;
}
ul, 
ol {
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}  

a {
    text-decoration: none;
}
button {
    cursor: pointer;
}

 

h1,
h2,
h3,
h4,
h5,
h6,
p {
        margin-top: 0;
        margin-bottom: 0;
}

.container {
        max-width: 1158px;
        padding-left: 15px;
        padding-right: 15px;
        margin-left: auto;
        margin-right: auto;
}

.section-padding {
        padding-bottom: 120px;
        padding-top: 120px;
}

img {
        display: block;
}
/* ============HEADER============ */

.page-header {
        border-bottom: 1px solid #e7e9fc;
}
.page-nav {
        display: flex;
        align-items: center;
}

.flex-container {
        display: flex;
        justify-content: space-between;

}
.menu {
        display: flex;
        gap: 40px;
}
.page-logo {
        font-family: "Raleway", sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4d5ae5;

        display: flex;
        padding-top: 25.5px;
        padding-bottom: 25.5px;
        margin-right: 76px;


}

.page-logo-color {
        color: #2e2f42;
}


.menu-link {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2e2f42;
         
        display: block;
        padding-top: 24px;
        padding-bottom: 24px;
        
}
   
.contact-block-link {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;

        display: block;
        padding-top: 24px;
        padding-bottom: 24px;


}

.contact-block-list {
        display: flex;
        gap: 40px;
}

.contact-block {
        font-style: normal;
}

.menu-link:hover,
.contact-block-link:hover {
        color: #404bbf;
}
.menu-link:focus,
.contact-block-link:focus {
        color: #404bbf;
}


.menu-item .menu-link:hover::after{
        content: '';
        background-color: #404bbf;
        color: #404bbf;
        display: block;
        border-radius: 2px;
        width: 100%;
        height: 4px;
        margin-top: 20px;
}

/* ============ HERO ============ */
.hero {
        background: #2e2f42;
        max-width: 1440px;
        height: 600px;
        margin-left: auto;
        margin-right: auto;
        padding-top: 188px; 
        padding-bottom: 188px;
        
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/herobackgroundphoto.jpg);
        background-color: rgba(46, 47, 66, 0.7);
        background-size: cover;
        background-repeat: no-repeat;
}

.hero-box {
       
        margin-right: auto;
        margin-left: auto;
}
.main-title {
        font-weight: 700;
        font-size: 56px;
        line-height: 1.07;
        letter-spacing: 0.02em;
        text-align: center;
        color: #ffffff;
        max-width: 496px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        
}


.order-now {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: #ffffff;
        background: #4d5ae5;

        box-sizing: content-box;
        border-radius: 4px;
        border: none;
        min-width: 169px;
        height: 56px;
        padding: 0;
        margin-top: 24px;
        display: block;
        margin-left: auto;
        margin-right: auto;


        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);

}

.order-now:hover,
.order-now:focus {
        background: #404bbf;
}
/* ============BENEFITS============ */

.visually-hidden {
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;
        white-space: nowrap;
        clip-path: inset(100%);
        clip: rect(0 0 0 0);
        overflow: hidden;
}
.benefits {
        padding-top: 120px;
        padding-bottom: 120px;
}

.benefits-list-title {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
        text-transform: capitalize;
        margin-bottom: 8px;

}

.benefits-list-text {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;

}

.benefits-list {
       
        display: flex;
        gap: 24px; 
       
}

.benefits-list-item {
        width: calc((100% - 72px) /4);
}


/* ============OUR TEAM============ */

.team {
        background-color: #F4F4FD;
}

.team-list {
        display: flex;
        gap: 24px;
        height: 380px;
}

.team-list-item {
        width: calc((100% - 72px) / 4); 
        border-radius: 0 0 4px 4px; 
        box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
.section-title {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
        text-transform: capitalize;
        margin-bottom: 8px;
}

.header-our-team {
        margin-bottom: 72px;
        box-sizing: content-box;      
}

.team-list-title {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;

        margin-bottom: 8px;
}

.team-list-text {
         font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        text-align: center;

}
.team-list-item {
        background-color: #FFFFFF
}

.team-list-box {
        padding: 32px 0;
}

.team-social-links {
        stroke: #404bbf;
        display: flex;
        

}
/* ============OUR PORTFOLIO============ */
.header-our-portfolio {
        margin-bottom: 72px;
}


.our-portfolio-list {
        display: flex;
        flex-wrap: wrap;
        width: calc(100% - 72px) / 3;
        column-gap: 24px;
        row-gap: 48px;
}
  
.our-portfolio-title {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
        text-transform: capitalize;
        display: flex;
        margin-bottom: 8px;
}

.our-portfolio-list-text {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
}

.our-portfolio-box {
        padding: 32px 16px;
        border-bottom: 1px solid #e7e9fc;
        border-left: 1px solid #e7e9fc;
        border-right: 1px solid #e7e9fc;
        width: 360px;
        height: 120px;

}

/*  ============FOOTER============ */

.page-footer {
        background: #2e2f42;
        padding-top: 100px;
        padding-bottom: 100px;
}

.page-footer-logo {
        font-family: "Raleway", sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4d5ae5;
        margin-bottom: 16px;
        display: inline-block;
}

.page-footer-logo-color {
    color: #f4f4fd;
}


.page-footer-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    max-width: 264px;
}
