body {
    font-family: "Roboto",sans-serif ;
    color:#434455 ;
    background-color: #ffffff;
}
ul, 
ol {
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}  

a {
    text-decoration: none;
}
button {
    cursor: pointer;
}

 

h1,
h2,
h3,
h4,
h5,
h6,
p {
        margin-top: 0;
        margin-bottom: 0;
}

.container {
        max-width: 1128px;
        padding-left: 15px;
        padding-right: 15px;
        margin-left: auto;
        margin-right: auto;
}

img {
        display: block;
}
/* ============HEADER============ */


.page-nav {
        display: flex;
        align-items: center;
}

.flex-container {
        display: flex;
        justify-content: space-between;
}
.menu {
        display: flex;
        column-gap: 40px;
}
.page-logo {
        font-family: "Raleway", sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4d5ae5;

        display: flex;
        padding-top: 25.5px;
        padding-bottom: 25.5px;
        margin-right: 76px;


}

.page-logo-color {
        color: #2e2f42;
}


.menu-link {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2e2f42;
         
        display: block;
        padding-top: 24px;
        padding-bottom: 24px;
        
}
   
.contact-block-link {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;

        display: block;
        padding-top: 24px;
        padding-bottom: 24px;


}

.contact-block-list {
        display: flex;
        column-gap: 40px;
}

.contact-block {
        font-style: normal;
}

.menu-link:hover,
.contact-block-link:hover {
        color: #404bbf;
}
.menu-link:focus,
.contact-block-link:focus {
        color: #404bbf;
}
/* ============ HERO ============ */
.hero {
        background: #2e2f42;
        max-width: 1440px;
        margin-right: auto;
        margin-left: auto;
}
.main-title {
        font-weight: 700;
        font-size: 56px;
        line-height: 1.07;
        letter-spacing: 0.02em;
        text-align: center;
        color: #ffffff;

        box-sizing: content-box;
        width: 496px;
        height: 120px;
        padding-top: 188px;
        padding-left: 316px;
        padding-right: 316px;
        padding-bottom: 24px;
}      
.hero-container {
        
} 

.order-now {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: #ffffff;
        background: #4d5ae5;

        box-sizing: content-box;
        width: 169px;
        height: 56px;
        margin-top: 24px;
        margin-left: 480px;
        margin-right: 480px;
        margin-bottom: 188px;
}

.order-now:hover,
.order-now:focus {
        background: #404bbf;
}
/* ============BENEFITS============ */
.benefits-list-title {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
        text-transform: capitalize;
}

.benefits-list-text {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}
/* ============OUR TEAM============ */

.team {
background-color: #F4F4FD
}
.section-title {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
        text-transform: capitalize;
}
.team-list-title {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
}

.team-list-text {
         font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        text-align: center;

}
.team-list-item {
        background-color: #FFFFFF
}

/* ============OUR PORTFOLIO============ */

.our-portfolio-title {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
        text-transform: capitalize;
}

.our-portfolio-list-text {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
}

/*  ============FOOTER============ */

.page-footer {
    background: #2e2f42;
}

.page-footer-logo {
        font-family: "Raleway", sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4d5ae5;
}

.page-footer-logo-color {
    color: #f4f4fd;
}


.page-footer-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
}